<h1>{{localize stat}}</h1>
{{#if sugoi}}
<div class="critical">{{localize "chat.sugoi"}}</div>
<div class="focusinfo">{{localize "chat.winfocus"}}</div>
{{/if}}
{{#if baka}}
<div class="critical">{{localize "chat.baka"}}</div>
<div class="focusinfo">{{localize "chat.losefocus"}}</div>
{{/if}}
